<header class="row">
    <div class="col">
        <h1>{{title}}</h1>
    </div>
</header>

<div class="row">
    {{> menu }}

    <main class="col">
        <div id="notifications" class="list-group">
            {{> errorAlert }}

            {{#if notifications}}
                {{#each notifications }}
                    <a href="/notification/{{this.[@id]}}" class="list-group-item list-group-item-action">
                        <!--<span class="actor">{{this}}</span>-->
                        {{this.[@id]}}
                        <!--<span class="date">10:23</span>-->
                    </a>
                {{/each}}
            {{else}}
                <span class="list-group-item">No notifications available.</span>
            {{/if}}
        </div>
    </main>
</div>
